
/* @font-face {
    font-family: 'Roboto';
    src: local("Roboto"), url('./media/roboto-regular.ttf') format('truetype');
    font-weight: normal;
} */


.boardControl {
    margin-bottom: 5px;
}

.boardControl select,button {
    margin: 0px 2px;
}