
.boardTable {
    border-spacing: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.boardTable td {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 0;
}

.gameContainer {
    display: flex;
}

.gameContainer>* {
    margin: 0px 5px;
}

.red {
    color: red;
}
.green {
    color: green;
}